.margin {
    margin-top: -12px;
}
.border {
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view {
    margin-right: 10px;
    font-family: '__Work_Sans_eb2171';
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    color: red;
    transition: color 0.3s;
}
.icon{
    color: red;
}
.view:hover,
.icon:hover{
    color: #333;
}
.section_heading {
    font-family: '__Work_Sans_eb2171';
    font-size: 32px;
    font-weight: 800;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.heading_image img{
    /* width: 340px;
    height: 196px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 35px;
    margin-bottom: 20px;
}
.heading {
    font-family: '__PT_Serif_5a5ee9';
    font-size: 26px;
    font-weight: 600;
    color: #333;
    transition: color 0.3s;
    line-height: 1;
}
.heading:hover{
    color: red;
}
.flex{
    display: flex;
    align-items: center;
    margin-top: -10px;
}
.avatarImage {
    margin-right: 5px;
  }
.avatarImage img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}
.username {
    font-family: '__Work_Sans_eb2171';
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    color: #555;
    margin-top: 20px;
    transition: color 0.3s;
   
}
.username:hover{
    color: red;
}
.date{
    font-family: '__Work_Sans_eb2171';
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    color: #767676;
    margin-top: 20px;

}
.flex2 {
    display: flex;
    align-items: center;
}
.stext{
    color: #333;
    font-family: '__Work_Sans_eb2171';
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s;
}
.stext:hover{
    color: red;
}
.date2{
    font-family: '__Work_Sans_eb2171';
    font-size: 12px;
    font-weight: 600;
    color: #767676;
    margin-top: 4px;
}

@media (max-width: 540px) {
    .heading_image img{
        width: 100%;
        padding-right: 0;
        margin-top: 20px;
       
    }
}
@media (max-width: 912px) {
    .heading_image img{
        width: 100%;
        padding-right: 0;
        margin-top: 20px;
       
    }
}