
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons {
    display: flex;
    gap: 20px;
}
.icons li a {
    color: red;
    transition: color 0.5s;
}
.icons li a:hover{
    color: #000;
}
.social_text {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.6px;
    font-family: '__Work_Sans_eb2171';
}
.social_heading {
    font-size: 20px;
    font-family: '__Work_Sans_eb2171';
    font-weight: 600;
}

@media(max-width:550px) {
    .flex {
        display: block !important;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .icons {
        display: flex;
        justify-content: center;
    }
}
