.footer_container{
    background: #dddddd;
    padding-top: 40px;
    padding-bottom: 20px;
}
.flex {
    font-family: '__Work_Sans_eb2171';
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    margin-top: 10px;
}
.list > a {
    color: #000;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
}

.logo{
    font-family: '__PT_Serif_5a5ee9';
    font-style: italic;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: -2px;
    color: #000;
}
.border{
    border-bottom: 3px solid #000;
    margin-bottom: 30px;
}
.footerMenuTitle{
    font-family: '__Work_Sans_eb2171';
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #000;
    margin: 10px 0 7px;
}
.footer_desc{
    font-family: '__PT_Serif_5a5ee9';
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}
.social_icons{
    display:  flex;
}
.IconContainer {
    background: #000;
    padding: 8px 12px;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;
    transition: background 0.3s;
}
.IconContainer:hover{
    background: #ec3535;
    cursor: pointer;
}
.icon  {
    font-size: 18px;
    color: #fff;
}
.fMenu {
    padding-bottom: 10px;
}
.fMenu > a {
    color: #000;
    font-family: '__Work_Sans_eb2171';
    font-weight: 600;
}
.latestNews{
    color: #000;
    font-family: '__Work_Sans_eb2171';
    font-weight: 600;
}
.flex2 {
    display: flex;
    align-items: center;
    margin-top: -8px;
}
.tag {
    font-family: '__Work_Sans_eb2171';
    font-size: 12px;
    color: #000;
    font-weight: 600;
    transition: color 0.3s;
    text-transform: uppercase;
}
.tag:hover{
    color: #ec3535;
}
.date {
    font-family: '__Work_Sans_eb2171';
    font-size: 12px;
    color: #000;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 12px;
}

.inputFlex {
    display: flex;
    width: 360px;
    margin-top: 10px;
    font-family: '__Work_Sans_eb2171';
    font-size: 13px;
}
.subsscribeBtn {
    color: #fff;
    font-family: '__Work_Sans_eb2171';
    font-size: 14px;
    font-weight: 600;
}

.btnContainer {
    background: #000;
    padding: 10px 20px;
    text-align: center;
    width: 360px;
}
.input::placeholder{
    font-family: '__Work_Sans_eb2171';
    color: #444444;
    font-size: 14px;
    
}
.input{
    padding: 8px 10px;
    width: 360px;
   border-radius: 2px;
    border: 1px solid #fff;
    transition: border 0.3s;
    box-sizing: border-box;
}
.input:focus{
    border: 1px solid #747474;
   outline: none;
}
.inputDiv {
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

.label {
    margin-left: 6px;
    margin-right: 6px;
}
.hypeLink {
    color: #ec3535;
}

.flexMenu1{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
    font-size: 13px;
}
.flexMenu2 {
    display: flex;
    justify-content: space-around;
    padding: 20px 60px;
    font-size: 13px;
    margin-top: -25px;
}
.mobileScreen {
    display: none;
}

@media (max-width:1200px) {
    .list > a {
        font-size: 12px;
    }
}

@media (max-width:550px) {
    .flex{
        display: block;
        text-align: center;
    }
    .largeScreen{
        display: none;
    }
    .mobileScreen {
        display: block;
    }
    .logo {
        text-align: center;
    }
}